body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
textarea {
    max-width: 280px;
}

select {
    max-width: 175px;
}


.text-danger {
    color: #ed5565 !important;
}

.field-validation-error {
    position: relative;
    top: 5px;
    color: #ed5565;
    border-color: #ed5565;
}

.field-validation-valid {
    position: relative;
    top: 5px;
    color: #1ab394;
    border-color: #1ab394;
}

input.input-validation-error {
    border: 1px solid #ed5565;
}

input.input-validation-valid {
    border: 1px solid #1ab394;
}
.validation-summary-errors {
    font-weight: bold;
    color: #ed5565;
}

.validation-summary-valid {
    display: none;
}

.has-success .form-control,
.has-success .form-control:focus {
    border-color: #1ab394;
}

.has-warning .form-control,
.has-warning .form-control:focus {
    border-color: #f8ac59;
}

.has-error .form-control,
.has-error .form-control:focus {
    border-color: #ed5565;
}

.has-success .control-label {
    color: #1ab394;
}

.has-warning .control-label {
    color: #f8ac59;
}

.has-error .control-label {
    color: #ed5565;
}