<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <connectionStrings>   
    <add name="DefaultConection" connectionString="Data Source=localhost;Initial Catalog=KLINICOS_CENTRAL;persist security info = True;Integrated Security=SSPI;"></add>    
    <!--Para testear desde pc <add name="DefaultConection" connectionString="data source=localhost;initial catalog=KLINICOS;persist security info=True;user id=sa;password=sa*01;MultipleActiveResultSets=True;"></add>-->
    <add name="TestConection" connectionString="data source=172.16.127.5;initial catalog=klinicosCemefir;persist security info=True;user id=sa;password=sql2018*;MultipleActiveResultSets=True;"></add>
    <add name="RebasaConection" connectionString="data source=172.46.1.10;initial catalog=KLINICOS;persist security info=True;user id=sa;password=sql2018*;MultipleActiveResultSets=True;"></add>
    <add name="GermaniConection" connectionString="data source=172.28.1.220;initial catalog=KLINICOS;persist security info=True;user id=sa;password=sql2018*;MultipleActiveResultSets=True;"></add>
    <add name="SakamotoConection" connectionString="data source=172.45.1.10;initial catalog=KLINICOS;persist security info=True;user id=sa;password=sql2018*;MultipleActiveResultSets=True;"></add>
    <add name="CemefirConection" connectionString="data source=192.168.71.10;initial catalog=KLINICOS;persist security info=True;user id=sa;password=sql2018*;MultipleActiveResultSets=True;"></add>
    <add name="MentalConection" connectionString="data source=192.168.70.10;initial catalog=KLINICOS;persist security info=True;user id=sa;password=sql2018*;MultipleActiveResultSets=True;"></add>
    <add name="NiñosConection" connectionString="data source=172.29.1.100;initial catalog=KLINICOS;persist security info=True;user id=sa;password=sql2018*;MultipleActiveResultSets=True;"></add>
    <add name="EizaguirreConection" connectionString="data source=192.168.10.40;initial catalog=KLINICOS;persist security info=True;user id=sa;password=sql2018*;MultipleActiveResultSets=True;"></add>
    <add name="RecondoConection" connectionString="data source=192.168.10.40;initial catalog=KLINICOS;persist security info=True;user id=sa;password=sql2018*;MultipleActiveResultSets=True;"></add>
    <add name="GiovinazzoConection" connectionString="data source=172.26.1.10;initial catalog=KLINICOS;persist security info=True;user id=sa;password=sql2018*;MultipleActiveResultSets=True;"></add>    
    <add name="PoliclinicoConection" connectionString="data source=192.168.34.10;initial catalog=KLINICOS;persist security info=True;user id=sa;password=sql2018*;MultipleActiveResultSets=True;"></add>        

  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="UsrSisa" value="mhquinci" />
    <add key="PassSisa" value="Klinicos123" />
    <add key="proxyServerAddress" value="mlmisa1.almafuerte.gov.ar" />
    <add key="proxyServerPort" value="8080" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.net>
    <defaultProxy useDefaultCredentials="true">
      <proxy usesystemdefault="True" proxyaddress="http://172.16.5.5:8080" bypassonlocal="True"/>
    </defaultProxy>
  </system.net>
  
</configuration>
