<div class="container container-top">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card-group">
                <div class="card p-4">
                    <div class="card-body">
                        <h1>Fin de Carga de Profesionales</h1>
                        <h2 class="text-muted"> Se ha completado la carga correctamente.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Styles.Render("~/Content/fonts")
@Scripts.Render("~/bundles/bootstrap")